<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h2> ReadMe </h2>
    <p>For detailed video of using this app visit here:</p>
      <p><a href="https://drive.google.com/drive/folders/1sQkCNDJOKdDg93DVfiPAZf4M8-MuYWVs?usp=sharing" target="_blank">https://drive.google.com/drive/folders/1sQkCNDJOKdDg93DVfiPAZf4M8-MuYWVs?usp=sharing</a></p>

    <h2> API endpoint</h2>
      <p><a href="https://llm-bot-pficsoahpa-uc.a.run.app/submit_and_retrieve" target="_blank">https://llm-bot-pficsoahpa-uc.a.run.app/submit_and_retrieve</a></p>
      
    {% endblock %}
    
  </body>
</html>